body{
    font-family: 'Gilroy-Light', sans-serif;
}
h1{
    color: #3f3f3f;
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{   
    font-weight: bolder; 
    color: rgba(24, 90, 125);
}
h5{    
    color: rgba(24, 90, 125);
}
.navbar{
    background-color: #185a7d;
    font-size: 16px;
    font-weight: bolder;
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 10px;
    color: white;
    font-size: 20px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar i:hover,
.navbar-light .navbar-nav .nav-link.active{
    color:aliceblue;
}
.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    transition: 0.3s ease;
    color: white;
}
.navbar img{
    width: 140px;
}
.navbar .nav-item{
    padding: 0 10px;
    padding-top: 4px;
    color: white;
    font-size: 19px;
}

.navbar .buscar .input{
    border: 0;
    outline: none;
}

.navbar .search_wrap{
    width: fit-content;
}

.navbar .search_wrap .search_box{
   position: relative;
    width: 180px;
    height: 36px;
    
}
.navbar .search_wrap .search_box .input{
    position: absolute;
    background: #ffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
}
.navbar .search_wrap .search_box .btn{
    position: absolute;
    top: 0;
    width: 36px;
    height: 100%; 
    background: white;
    z-index: 1;
    cursor: pointer;
}
.navbar .search_wrap .search_box .btn:hover{
    background: white;
}
.navbar .search_wrap .search_box .btn.btn_common .fas{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#185a7d;
    font-size: 16px;
}

.navbar .search_wrap.search_wrap_3 .search_box .input{
    padding-right: 80px;
}


.navbar .search_wrap.search_wrap_3 .search_box .input{
border-radius: 50px;
}
.navbar .search_wrap.search_wrap_3 .search_box .btn{
    right: 0;
    border-radius: 100%;
}


/*Carrusel*/

.container{
    width: 70%;
}


/*Celular*/
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}
#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor:pointer;
    color:white;
}
#bar:hover, #bar.active{
    color:white;
}

h3{    
    font-weight: bolder;
    color: rgba(24, 90, 125);
}

p{
color: rgba(24, 90, 125);
}

h5{    
    color: rgba(24, 90, 125);
}

h4{   
    font-weight: bolder; 
    color: rgba(24, 90, 125);
}

/*MAS VENDIDOS*/

.slider{
    max-width: 1150px;
    display: flex;
}
.slider .card{
    border: none;
    flex: 1;
    margin: 0 10px;
    background: white;
}
.slider .card .img{
    height: 200px;
    width: 100%;
}
.slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slider .card .content{
    padding: 10px 20px;
}
.card .content .tittle{
    font-size: 20px;
    font-weight:300;
    color: #3d5a7b;
    font-weight: bolder;
    text-align: center
}
.card .content .product-price{
    font-size: 25px;
    color: #185a7d;
    font-weight: bold;
    text-align: center
}
.card .content .btn{
    display: block;
    text-align: left;
}

.card .content .btn button{
    position: absolute;
    padding: 5px 8px;
    left: 0;
    bottom: 0;
    font-size: 16px;
    font-weight: 300;
    border: none;
    background-color: rgb(59, 130, 246);
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
}
.card .content .btn button .fa{
    padding-right: 12px;
}


/*carrusel que sirve*/
.product-price{
    font-size: 20px;
    height: 70px;
}
.product-img{
    position: relative;
    height: 100;
    overflow: hidden;
}
.btns{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 15px;
    font-weight: 300;
}
.btns button{
    border: none;
    background-color: rgb(59, 130, 246);
    color: #fff;
    font-weight: bold;
}
.product-item{
    width: 300px;
}


/* FOOTER CSS*/
footer{
    background-color: #185a7d;
}
footer h5{
    font-weight: bolder; 
    color: #fff;
    font-size: 1.2rem;
}
footer li{
    padding-bottom: 4px;
}
footer a{
    color: #fff; 
}
footer a:hover{
    color: #fff; 
}
footer li a{
    font-size: 1rem;
    color: #fff;
}
footer li a:hover{
    color: #fff;
}
footer p{
    font-size: 1rem;
    color: #fff;
}
footer a i{
    color: #fff; 
    font-size: 35px;
    width: 50px;
    height: 50px;
}


/* section productos*/
section h3{
    font-weight: bold;
    font-size: 2.1rem;
    color:rgba(24, 90, 125);
}
section h2{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 42.0px;
    color:#185a7d;
}
section button{
    color: white;
    border: 1px solid;
    
}
section .pagar{
padding-top: 25px;
}